---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import BlogCard from "../components/BlogCard.astro";
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseLayout />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="h-28 md:h-32"></div>
    <main class="container max-w-6xl px-4 mx-auto">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        <a href="BlogPost.astro ">
         <BlogCard/> 
        </a>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
      </div>
    </main>
  </body>
</html>
