

<div class="rounded-md shadow-md hover:shadow-xl p-4">
    <div class="overflow-hidden rounded-lg">
      <img
        src="https://www.blogger.com/about/img/social/facebook-1200x630.jpg"
        alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
        class="h-400 w-600"
      />
    </div>
    <div class="my-3 text-sm text-gray-400"></div>
    <h2>Bloggers are getting missing more day by day</h2>
    <div class="flex flex-wrap space-x-2">
      <span
        class="py-1/2 mt-2 rounded bg-red-400 px-2 text-sm text-white"
        >Apple Workout
      </span>
      <span
        class="py-1/2 mt-2 rounded bg-red-400 px-2 text-sm text-white"
        >Apple Workout
      </span>
    </div>
  </div>