---
const { title, image, tag } = Astro.props;
---

<div class="rounded-md shadow-md hover:shadow-xl p-4">
  <div class="overflow-hidden rounded-lg">
    <img
      src={image}
      alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
      class="object-cover h-48 w-96"
    />
  </div>
  <div class="my-3 text-sm text-gray-400"></div>
  <h2>{title}</h2>
  <div class="flex flex-wrap space-x-2">
    {tag &&
      tag.map((cat: { title: unknown; }) => (
        <span class="py-1/2 mt-2 rounded bg-red-400 px-2 text-sm text-white">
          {cat.title}
        </span>
      ))
    }
  </div>
</div>
