---
const today = new Date();
---

<footer class="border-t border-purple-700">
	<div class="flex justify-center align-middle">
		<a href="https://twitter.com/ariflogs" target="_blank">Twitter</a>
		<span class="px-2"> ·</span>
		<a href="https://github.com/ariflogs" target="_blank">Github</a>
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
